NEXT_PUBLIC_SUPABASE_URL=https://wtwlkwvwtvyzcsqwhjph.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_fkWcYHx6hXUcNbCN9DxQJg_32kyvEMf
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind0d2xrd3Z3dHZ5emNzcXdoanBoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Njg4NjA2NCwiZXhwIjoyMDkyNDYyMDY0fQ.w_bhbiFDJM2ZX8Nv7lQ4IMgH_6YJehqxyEaeJhOQCNg
